
*{
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
}

.main-container{
  display: flex;
  justify-content: space-between;
}
.displayImg-container{
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 0;

}
.main-display-container{
  width: 50vw;
  padding: 1rem;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
  height: 75vh;
  margin-bottom: 0;
}

.tshirt-img{
  width: 500px;
  height: 500px;
  margin-bottom: 0;
}
.upper-text,.lower-text{
  font-size: 2.2rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;

}

.upper-text{
right: 35%;
top: 22%;
transition: all ease-in-out;
}
.lower-text{
  right: 35%;
  top:65%
}
.container{
height: 100vh;
}
.set-img{
  background-color: rgb(211, 206, 206);
  height: 140px;
  width: 200px;
  display: block;
  right: 26%;
  top:40%;
  color: black;
  font-size: 2.2rem;
  color: rgb(180, 180, 182);
  display: flex;
  align-items: center;
  justify-content: center;
}
.set-img-container{
  border: 6px solid white;
  height: 140px;
  width: 200px;
  right: 26%;
  top:40%;
  position: absolute;
}
.change-tshirt-settings{
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* .change-tshirt-settings>*{
  height: 100px;
  width: 100px;
} */
.tshirt{
  height: 50px;
  width: 50px;
  cursor: pointer;

}
.settings-container{
  width: 40vw;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);

  padding: 1rem;
}
/* settings-container */

.settings-container h1{
  margin-top: 0;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-size: 2rem;
  color: rgb(34, 34, 34);
  text-align: center;
}
/* change-tshirt-img */
.change-tshirt-container h3{
  font-size: 1.3rem;
  color: rgb(53, 52, 52);
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: sans-serif;
}

/* change-img-container */
.change-img-container{

}

.change-img-container  h1{
  font-size: 1.3rem;
  color: rgb(34, 34, 34);
  font-family: sans-serif;
  margin-bottom: 1px;
  text-align: left;
}
.choose-file-container{
  display: flex;
  align-items: center;
  gap: 5vw;
  margin-bottom: 0;
  padding-bottom: 0;

}

.choose-files{
  display: flex;
  align-items: center;

}

.upload-img{
display: block;
width: 12vw;
height: 1vw;
background-color: rgb(238, 234, 234);
box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.603);
}
.upload-btn{
  font-size: 0.7rem;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: teal;
  border: 0;
  padding:8px ;
  margin-top: 0;
}
.write-text-container h1{
  font-size: 1.3rem;
  color: rgb(34, 34, 34);
  font-family: sans-serif;
  margin-bottom: 1px;
  text-align: left; 
}
.first-upper-text-container p,.second-upper-text-container p{
color: rgb(53, 52, 52);
font-family:'Roboto', sans-serif;
font-size: 1rem;
font-weight: 600;
margin-top: 10px;
margin-bottom: 2.3rem;

}
.first-upper-input,.second-upper-input{
  border: 0;
  outline: none;
  font-size: 1rem;

}
.underline{
  width: 100%;
  display: block;
  height: 1px;
  background-color: rgb(70, 68, 68);

}
.text-size-container p{
  color: rgb(32, 32, 32);
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  width: 15vw;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.text-settings-container{
  display: flex;
  gap: 5rem;  
}

.text-color>*{
  margin-top: 0;
  margin-bottom: 8px;

  color: rgb(44, 44, 44);
}
.text-color-container{
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 8px 1.2rem;
  width: 8vw;
  padding-top: 2px;
}

.all-text-colors label{
  color: rgb(105, 105, 105);
  font-family: 'Roboto',sans-serif;
}



